body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    margin: 0;
    padding: 0;
    position: relative;
    left: 280px;
    top: 70px;
    height: 100vh;
    color: #fff;
}
  
h1 {
    text-align: center;
    color: #000000;
    /* color: #ffeb3b;
    text-shadow: 0 0 10px #ffeb3b, 0 0 20px #ff9800; */
}

/* Form chính */
form {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    backdrop-filter: blur(10px);
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content phân chia */
.contentLeft, .contentRight {
    width: 48%;
}

/* Nhãn */
label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

/* Input và Textarea */
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 15px;
    margin-top: 0px;
    border-width: 1px;
    /* border: 2px solid #ffeb3b; */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #3d3d3c;
}

/* Span lỗi */
.error {
    font-size: 12px;
    color: #f44336;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
    font-style: italic;
}

/* Nút gửi */
button {
    width: 50%;
    padding: 10px;
    position: relative;
    left: 250px;
    background: linear-gradient(45deg, #baff85, #83ff5e);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 0px 15px rgba(189, 215, 186, 0.6);
}