<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Add Size</title>
</head>
<body>
    <div class="form-container">
        <h2>Add Color</h2>
        <form action="/add-color" method="POST">
            <div class="form-group">
                <label for="color-name">Color Name:</label>
                <input type="text" id="color-name" name="color_name" placeholder="Enter color name (e.g., Red, Blue)" required>
            </div>
            <div class="form-group">
                <label for="color-picker">Select Color:</label>
                <input type="color" id="color-picker" name="color_hex" required>
            </div>

            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
