<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/form.css">
    <title>Add Brand</title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <div>
        <h3></h3>
        <label for="brand_name">Tên thương hiệu:</label>
        <input type="text" id="brand_name" name="brand_name" required /><br />

        <label for="description">Mô tả thương hiệu:</label>
        <textarea id="description" name="description"></textarea><br />

        <label for="brand_image">Ảnh thương hiệu:</label>
        <input
          type="file"
          id="brand_image"
          name="brand_image"
          accept="image/*"
        /><br />

        <label for="brand_status">Hoạt động nhập hàng:</label>
        <select id="brand_status" name="brand_status" required>
          <option value="0">Có</option>
          <option value="1">Không</option></select
        ><br />
      </div>
      <button type="submit">Thêm Thương Hiệu</button>
    </form>
  </body>
</html>
